body {
    background-color: #101011;
}
div {
    height: 100px;
    background-color:rgb(66, 30, 30) ;
    /* border-color: blue; */
    border: solid 5px #1f1230;
    /* width: 40px; */
}

.conteanr {
    background-color: rgb(44, 13, 34);
    height: 500px;
}